#username-edit{
    margin-left: 4vw;
    font-size: larger;
    font-weight: bold;
}
#date-edit{
    margin-left: 3vw;
    font-size: larger;
    font-weight: bold;
}
.div-top-edit{
padding-top: 4vh;
padding-bottom: 2vh;

}